<nav id="top-nav" class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <h1>Bootcamp Helper</h1>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="ml-auto form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="username" placeholder="username" aria-label="username">
      <input class="form-control mr-sm-2" type="password" placeholder="password" aria-label="password">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>


<div class="container-fluid">
  <div class="row d-flex d-md-block flex-nowrap wrapper">
    <div class="col-md-2 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
      <div class="list-group border-0 card text-center text-md-left">

        <a href="https://bootcampspot-v2.com/login" class="list-group-item d-inline-block collapsed" target="_blank">
          <span class="d-none d-md-inline">Bootcamp Spot</span>
        </a>

        <a href="#menu1" class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false">
          <span class="d-none d-md-inline">Videos</span>
          <i class="ml-2 fas fa-caret-down"></i>
        </a>

        <div class="collapse" id="menu1" data-parent="#sidebar">
          <a href="#" class="list-group-item" data-toggle="collapse" aria-expanded="false">01-HTML-CSS-GIT</a>
          <a href="#" class="list-group-item" data-toggle="collapse" aria-expanded="false">02-CSS-Bootstrap</a>
          <a href="#" class="list-group-item" data-toggle="collapse" aria-expanded="false">03-Javascript</a>
          <a href="#" class="list-group-item" data-toggle="collapse" aria-expanded="false">04-JQuery</a>
          <a href="#" class="list-group-item" data-toggle="collapse" aria-expanded="false">05-Timers</a>
          <a href="#" class="list-group-item" data-toggle="collapse" aria-expanded="false">06-Ajax</a>
          <a href="#" class="list-group-item" data-toggle="collapse" aria-expanded="false">07-Firebase</a>
          <a href="#" class="list-group-item" data-toggle="collapse" aria-expanded="false">10-NodeJS</a>
          <a href="#" class="list-group-item" data-toggle="collapse" aria-expanded="false">11-JS-Constructors</a>
          <a href="#" class="list-group-item" data-toggle="collapse" aria-expanded="false">12-MYSQL</a>
          <a href="#" class="list-group-item" data-toggle="collapse" aria-expanded="false">13-Express</a>
          <a href="#" class="list-group-item" data-toggle="collapse" aria-expanded="false">14-Handlebars</a>
          <a href="#" class="list-group-item" data-toggle="collapse" aria-expanded="false">15-Sequelize</a>
        </div>

        <div class="collapse" id="menu2" data-parent="#sidebar">
          <a href="#" class="list-group-item" data-toggle="collapse" aria-expanded="false">01-HTML-CSS-GIT</a>
          <a href="#" class="list-group-item" data-toggle="collapse" aria-expanded="false">02-CSS-Bootstrap</a>
          <a href="#" class="list-group-item" data-toggle="collapse" aria-expanded="false">03-Javascript</a>
        </div>

        <a href="#" class="list-group-item d-inline-block collapsed">
          <i class="fa fa-film"></i>
          <span class="d-none d-md-inline">Item 2</span>
        </a>

        <!-- social menu section ============================= -->
        <a href="#menu3" class="list-group-item d-inline-block collapsed" data-toggle="collapse" aria-expanded="false">
          <i class="fas fa-users"></i>
          <span class="d-none d-md-inline">Social</span>
          <i class="ml-2 fas fa-caret-down"></i>
        </a>

        <div class="collapse" id="menu3" data-parent="#sidebar">
          <a href="https://www.facebook.com" class="list-group-item" target="_blank">
            <span>
              <i class="fab fa-facebook-square ml-3"></i>
            </span>facebook</a>
          <a href="https://www.instagram.com" class="list-group-item" target="_blank">
            <span>
              <i class="fab fa-instagram ml-3"></i>
            </span>instagram</a>
          <a href="https://www.twitter.com" class="list-group-item" target="_blank">
            <span>
              <i class="fab fa-twitter-square ml-3"></i>
            </span>twitter</a>
        </div>

      </div>
    </div>

    <!-- sidebar toggle button ========================== -->
    <!-- <main class="col-md-10 float-left col px-5 pl-md-2 pt-2 main"> -->
    <div class="w-100">
      <a href="#" data-target="#sidebar" data-toggle="collapse">
        <i class="m-2 fas fa-bars"></i>
      </a>


      <div class="content-body">

      </div>

      {{!--
      <div class="row p-2 justify-content-center">
        <div class="col-md-4">
          <div class="card w-100 mb-4">
            <img class="card-img-top" src="./assets/img/01-1.png" alt="Card image cap">
            <div class="card-body text-center">
              <a href="https://www.youtube.com/watch?v=ieb6Svbc10E" class="btn btn-lg btn-primary" target="_blank">HTML Layout</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card w-100 mb-4">
            <img class="card-img-top" src="./assets/img/01-2.png" alt="Card image cap">
            <div class="card-body text-center">
              <a href="https://www.youtube.com/watch?v=kMBinXTCrXI" class="btn btn-lg btn-primary" target="_blank">Basic CSS Layout</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card w-100 mb-4">
            <img class="card-img-top" src="./assets/img/01-3.png" alt="Card image cap">
            <div class="card-body text-center">
              <a href="https://www.youtube.com/watch?v=0lpxKw6E90Y" class="btn btn-lg btn-primary" target="_blank">CSS Floats</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card w-100">
            <img class="card-img-top" src="./assets/img/01-4.png" alt="Card image cap">
            <div class="card-body text-center">
              <a href="https://www.youtube.com/watch?v=sHfJn0jqBro" class="btn btn-lg btn-primary" target="_blank">CSS Positioning Property</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card w-100">
            <img class="card-img-top" src="./assets/img/01-5.png" alt="Card image cap">
            <div class="card-body text-center">
              <a href="https://www.youtube.com/watch?v=yWXgnQaWSW0" class="btn btn-lg btn-primary" target="_blank">CSS Positioning Layouts</a>
            </div>
          </div>
        </div>

      </div> --}}
    </div>


    <!-- <div class="page-header">
          <h2>Bootstrap 4 Sidebar Menu</h2>
        </div>
        <p class="lead">A responsive, multi-level vertical accordion.</p>
        <hr>
        <div class="row">
          <div class="col-lg-6">
            <button role="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo2" aria-expanded="true">
              vertical collapsible
            </button>
            <div id="demo2" class="height collapse show" aria-expanded="true">
              <div>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                  Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                  Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              </div>
            </div>
          </div>
        </div> -->
    <!-- </main> -->
  </div>
</div>