<!-- * [Generating an SSH Key for GitHub](https://help.github.com/articles/generating-an-ssh-key/)
* [Learn Git](https://www.codecademy.com/learn/learn-git)
* [Try Git](https://try.github.io/levels/1/challenges/1)
* [Learn CSS Layouts](http://learn.shayhowe.com/html-css/positioning-content/)
* [Learn CSS Positioning](http://learn.shayhowe.com/advanced-html-css/detailed-css-positioning/)
* [Command Line Primer](https://lifehacker.com/5633909/who-needs-a-mouse-learn-to-use-the-command-line-for-almost-anything)
* [Become a Command Line Ninja](https://lifehacker.com/5743814/become-a-command-line-ninja-with-these-time-saving-shortcuts) -->

