<!-- * [Generating an SSH Key for GitHub](https://help.github.com/articles/generating-an-ssh-key/)
* [Learn Git](https://www.codecademy.com/learn/learn-git)
* [Try Git](https://try.github.io/levels/1/challenges/1)
* [Learn CSS Layouts](http://learn.shayhowe.com/html-css/positioning-content/)
* [Learn CSS Positioning](http://learn.shayhowe.com/advanced-html-css/detailed-css-positioning/)
* [Command Line Primer](https://lifehacker.com/5633909/who-needs-a-mouse-learn-to-use-the-command-line-for-almost-anything)
* [Become a Command Line Ninja](https://lifehacker.com/5743814/become-a-command-line-ninja-with-these-time-saving-shortcuts) -->

<div class="row">
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="https://help.github.com/articles/generating-an-ssh-key/"
      target="_blank">Generating an SSH Key for Github</a>
  </div>
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="https://www.codecademy.com/learn/learn-git" target="_blank">Learn Git</a>
  </div>
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="https://try.github.io/levels/1/challenges/1" target="_blank">Try Git</a>
  </div>
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="http://learn.shayhowe.com/html-css/positioning-content/"
      target="_blank">Learn CSS Layouts</a>
  </div>
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="http://learn.shayhowe.com/advanced-html-css/detailed-css-positioning/"
      target="_blank">Learn CSS Positioning</a>
  </div>
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="https://lifehacker.com/5633909/who-needs-a-mouse-learn-to-use-the-command-line-for-almost-anything"
      target="_blank">Command Line Primer</a>
  </div>
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="https://lifehacker.com/5743814/become-a-command-line-ninja-with-these-time-saving-shortcuts"
      target="_blank">Become a Command Line Ninja</a>
  </div>
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="https://pages.github.com/" target="_blank">GitHub Pages</a>
  </div>
</div>