<!-- * [AJAX Documentation](http://api.jquery.com/jquery.ajax/)
* [Giphy API](https://developers.giphy.com/docs/)
* [OMDb API](http://www.omdbapi.com/)
* [Open Weather Map API](http://openweathermap.org/api)
* [New York Times Article API](http://developer.nytimes.com/docs/read/article_search_api_v2)
* [NYT Activity Video Walkthrough (Highly Recommended)](https://youtu.be/RQTVw6XJAac?list=PLgJ8UgkiorCnCFzNp0dP0zJyeFAgstYTj) -->


<div class="row">
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="http://api.jquery.com/jquery.ajax/" target="_blank">AJAX Documentation</a>
  </div>
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="https://developers.giphy.com/docs/" target="_blank">Giphy API</a>
  </div>
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="http://www.omdbapi.com/" target="_blank">OMDb API</a>
  </div>
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="http://openweathermap.org/api" target="_blank">Open Weather Map API</a>
  </div>
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="http://developer.nytimes.com/docs/read/article_search_api_v2" target="_blank">New York Times Article API</a>
  </div>
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="https://youtu.be/RQTVw6XJAac?list=PLgJ8UgkiorCnCFzNp0dP0zJyeFAgstYTj" target="_blank">NYT Activity Video Walkthrough</a>
  </div>
</div>