<!-- * [What is the DOM?](https://css-tricks.com/dom/)
* [JavaScript and jQuery](http://www.amazon.com/JavaScript-JQuery-Interactive-Front-End-Development/dp/1118531647/ref=sr_1_1?s=books&ie=UTF8&qid=1460751938&sr=1-1)
* [What You Should Know About JavaScript Scope](https://spin.atomicobject.com/2014/10/20/javascript-scope-closures/)
* [jQuery - W3Schools](https://www.w3schools.com/jquery/default.asp) -->

<div class="row">
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="https://css-tricks.com/dom/" target="_blank">What is the DOM?</a>
  </div>
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="https://spin.atomicobject.com/2014/10/20/javascript-scope-closures/" target="_blank">What You Should Know About JavaScript Scope</a>
  </div>
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="https://www.w3schools.com/jquery/default.asp" target="_blank">W3 Schools - jQuery</a>
  </div>
</div>