<!-- * [Eloquent JavaScript](http://eloquentjavascript.net/)
* [JavaScript and jQuery](http://www.amazon.com/JavaScript-JQuery-Interactive-Front-End-Development/dp/1118531647/ref=sr_1_1?s=books&ie=UTF8&qid=1460751938&sr=1-1)
* [W3 Schools - JavaScript](https://www.w3schools.com/jsref/default.asp) -->

<div class="row">
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="http://eloquentjavascript.net/" target="_blank">Eloquent JavaScript</a>
  </div>
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="http://www.amazon.com/JavaScript-JQuery-Interactive-Front-End-Development/dp/1118531647/ref=sr_1_1?s=books&ie=UTF8&qid=1460751938&sr=1-1"
      target="_blank">JavaScript and jQuery</a>
  </div>
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="https://www.w3schools.com/jsref/default.asp" target="_blank">W3 Schools - JavaScript</a>
  </div>
</div>