<!-- * [Heroku Deployment Guide for MySQL Projects](Supplemental/MySQLHerokuDeploymentProcess.pdf)
* [Understand JavaScript Callbacks](http://javascriptissexy.com/understand-javascript-callback-functions-and-use-them/)
* [Handlebars Website](http://handlebarsjs.com/)
* [MVC Explained](https://medium.freecodecamp.org/model-view-controller-mvc-explained-through-ordering-drinks-at-the-bar-efcba6255053) -->

<div class="row">
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="http://javascriptissexy.com/understand-javascript-callback-functions-and-use-them/"
      target="_blank">Understand JavaScript Callbacks</a>
  </div>
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="http://handlebarsjs.com/" target="_blank">Handlebars Website</a>
  </div>
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="https://medium.freecodecamp.org/model-view-controller-mvc-explained-through-ordering-drinks-at-the-bar-efcba6255053"
      target="_blank">MVC Explained</a>
  </div>
</div>