<!-- https://docs.mongodb.com/manual/crud/

https://www.tutorialspoint.com/mongodb/index.htm -->

<div class="row">
    <div class="col-md-12 p-2 my-2">
      <a role="button" class="btn w-50 btn-lg help-link-button" href="https://docs.mongodb.com/manual/crud/"
        target="_blank">Mongo CRUD Methods</a>
    </div>
    <div class="col-md-12 p-2 my-2">
      <a role="button" class="btn w-50 btn-lg help-link-button" href="https://www.tutorialspoint.com/mongodb/index.htm" target="_blank">MongoDB Tutorial</a>
    </div>
  </div>