<!-- * [Recursion in Functional JavaScript](https://www.sitepoint.com/recursion-functional-javascript/)
* [Understand JavaScript Callbacks](http://javascriptissexy.com/understand-javascript-callback-functions-and-use-them/) -->

<div class="row">
    <div class="col-md-12 p-2 my-2">
      <a role="button" class="btn w-50 btn-lg help-link-button" href="https://www.sitepoint.com/recursion-functional-javascript/" target="_blank">Recursion in Functional JavaScript</a>
    </div>
    <div class="col-md-12 p-2 my-2">
      <a role="button" class="btn w-50 btn-lg help-link-button" href="http://javascriptissexy.com/understand-javascript-callback-functions-and-use-them/" target="_blank">Understand JavaScript Callbacks</a>
    </div>
  </div>