<!-- * [Heroku Deployment Guide for Sequelize Projects](Supplemental/SequelizeHerokuDeploymentProcess.pdf)
* [Sequelize Quick Start Guide](Supplemental/SequelizeQuickStartGuide.pdf)
* [Sequelize CRUD Actions Cheat Sheet](Supplemental/SequelizeCRUDActionsCheatSheet.pdf)
* [Passport and Sequelize Example](Supplemental/Sequelize-Passport-Example)
* [Sequelize Queries](http://docs.sequelizejs.com/en/latest/docs/querying/)
* [Sequelize Associations Part 1](http://docs.sequelizejs.com/en/latest/docs/associations/)
* [Sequelize Association Part 2](http://docs.sequelizejs.com/en/latest/api/associations/)
* [Sequelize Migrations](http://docs.sequelizejs.com/en/latest/docs/migrations/)
* [bcrypt (NPM)](https://www.npmjs.com/package/bcrypt)
* [Encryption vs Hashing](http://www.securityinnovationeurope.com/blog/whats-the-difference-between-hashing-and-encrypting) -->

