<!-- * [Heroku Deployment Guide for Sequelize Projects](Supplemental/SequelizeHerokuDeploymentProcess.pdf)
* [Sequelize Quick Start Guide](Supplemental/SequelizeQuickStartGuide.pdf)
* [Sequelize CRUD Actions Cheat Sheet](Supplemental/SequelizeCRUDActionsCheatSheet.pdf)
* [Passport and Sequelize Example](Supplemental/Sequelize-Passport-Example)
* [Sequelize Queries](http://docs.sequelizejs.com/en/latest/docs/querying/)
* [Sequelize Associations Part 1](http://docs.sequelizejs.com/en/latest/docs/associations/)
* [Sequelize Association Part 2](http://docs.sequelizejs.com/en/latest/api/associations/)
* [Sequelize Migrations](http://docs.sequelizejs.com/en/latest/docs/migrations/)
* [bcrypt (NPM)](https://www.npmjs.com/package/bcrypt)
* [Encryption vs Hashing](http://www.securityinnovationeurope.com/blog/whats-the-difference-between-hashing-and-encrypting) -->

<div class="row">
    <div class="col-md-12 p-2 my-2">
      <a role="button" class="btn w-50 btn-lg help-link-button" href="http://javascriptissexy.com/understand-javascript-callback-functions-and-use-them/"
        target="_blank"></a>
    </div>
    <div class="col-md-12 p-2 my-2">
      <a role="button" class="btn w-50 btn-lg help-link-button" href="http://handlebarsjs.com/" target="_blank"></a>
    </div>
    <div class="col-md-12 p-2 my-2">
      <a role="button" class="btn w-50 btn-lg help-link-button" href="https://medium.freecodecamp.org/model-view-controller-mvc-explained-through-ordering-drinks-at-the-bar-efcba6255053"
        target="_blank"></a>
    </div>
  </div>