<!-- * [Alex's MySQL Cheat Sheet](https://gist.github.com/arosenkranz/0090a2a91277bf71f9960bb0e35712ba)
* [Whiteboarding Gitbook with Example Questions](https://www.gitbook.com/read/book/the-coding-bootcamp/whiteboarding-algorithms-and-interview-questions?key=technicalInterview)
* [MySQL - W3 Schools](http://www.w3schools.com/sql/)
* [MySQL Workbench Documentation](http://dev.mysql.com/doc/workbench/en/)
* [MySQL NPM Package](https://www.npmjs.com/package/mysql) -->

<div class="row">
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="https://gist.github.com/arosenkranz/0090a2a91277bf71f9960bb0e35712ba"
      target="_blank">Alex's MySQL Cheat Sheet</a>
  </div>
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="https://www.gitbook.com/read/book/the-coding-bootcamp/whiteboarding-algorithms-and-interview-questions?key=technicalInterview"
      target="_blank">Whiteboarding Gitbook with Example Questions</a>
  </div>
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="http://www.w3schools.com/sql/" target="_blank">MySQL - W3 Schools</a>
  </div>
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="http://dev.mysql.com/doc/workbench/en/" target="_blank">MySQL Workbench Documentation</a>
  </div>
  <div class="col-md-12 p-2 my-2">
    <a role="button" class="btn w-50 btn-lg help-link-button" href="https://www.npmjs.com/package/mysql" target="_blank">MySQL NPM Package</a>
  </div>
</div>