<div class="row">
  <div class="col-md-3 text-center my-5">
    <a href="https://syntax.fm/" target="_blank"><img class="podcast-img" border="0" src="./assets/img/syntax.jpg" alt="syntax"></a>
  </div>
  <div class="col-md-3 text-center my-5">
    <a href="http://frontendhappyhour.com/" target="_blank"><img class="podcast-img" border="0" src="./assets/img/frontendhappyhour.jpg" alt="front end happy hour"></a>
  </div>
  <div class="col-md-3 text-center my-5">
    <a href="http://www.fullstackradio.com/" target="_blank"><img class="podcast-img" border="0" src="./assets/img/fullstackradio.jpg" alt="full stack radio"></a>
  </div>
  <div class="col-md-3 text-center my-5">
    <a href="http://nodeup.com/" target="_blank"><img class="podcast-img" border="0" src="./assets/img/nodeup.png" alt="node up"></a>
  </div>
</div>

<div class="row">
  <div class="col-md-3 text-center my-5">
    <a href="https://changelog.com/podcast" target="_blank"><img class="podcast-img" border="0" src="./assets/img/thechangelog.png" alt="the change log"></a>
  </div>
  <div class="col-md-3 text-center my-5">
    <a href="http://shoptalkshow.com/" target="_blank"><img class="podcast-img" border="0" src="./assets/img/shoptalkshow.jpg" alt="shop talk show"></a>
  </div>
  <div class="col-md-3 text-center my-5">
    <a href="https://devchat.tv/js-jabber" target="_blank"><img class="podcast-img" border="0" src="./assets/img/javascriptjabber.jpg" alt="javascript jabber"></a>
  </div>
  <div class="col-md-3 text-center my-5">
    <a href="http://coder.show/" target="_blank"><img class="podcast-img" border="0" src="./assets/img/coderradio.jpg" alt="coder radio"></a>
  </div>
</div>