<div class="w-100">
  <div class="row p-2 justify-content-center">
    
    <div class="col-md-4">
      <div class="card w-100 mb-4">
        <img class="card-img-top" src="./assets/img/04-1.png" alt="Card image cap">
        <div class="card-body text-center">
          <a href="https://www.youtube.com/watch?v=9_9-NeU2L_U" target="_blank">
            <h3>Convert Basic JavaScript Into jQuery</h3>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card w-100 mb-4">
        <img class="card-img-top" src="./assets/img/04-2.png" alt="Card image cap">
        <div class="card-body text-center">
          <a href="https://www.youtube.com/watch?v=9_9-NeU2L_U" target="_blank">
            <h3>jQuery Click Events</h3>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card w-100 mb-4">
        <img class="card-img-top" src="./assets/img/04-3.png" alt="Card image cap">
        <div class="card-body text-center">
          <a href="https://www.youtube.com/watch?v=Nh4wxhzePIs" target="_blank">
            <h3>Build A Click-Based Lottery Generator with JS and jQuery</h3>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card w-100">
        <img class="card-img-top" src="./assets/img/04-4.png" alt="Card image cap">
        <div class="card-body text-center">
          <a href="https://www.youtube.com/watch?v=gC529k3KzmE" target="_blank">
            <h3>Create And Manipulate HTML With jQuery</h3>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card w-100">
        <img class="card-img-top" src="./assets/img/04-5.png" alt="Card image cap">
        <div class="card-body text-center">
          <a href="https://youtu.be/yKE7016Ioxc" target="_blank">
            <h3>Create A Calculator With jQuery</h3>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>