<div class="w-100">
  <div class="row p-2 justify-content-center">
    <div class="col-md-4">
      <div class="card w-100 mb-4">
        <img class="card-img-top" src="./assets/img/06-1.png" alt="Card image cap">
        <div class="card-body text-center">
          <a href="https://www.youtube.com/watch?v=Kp7Xy2LScLM" target="_blank">
            <h3>API Calls and AJAX Request Basics</h3>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card w-100 mb-4">
        <img class="card-img-top" src="./assets/img/06-2.png" alt="Card image cap">
        <div class="card-body text-center">
          <a href="https://www.youtube.com/watch?v=K1JDUkF94cs" target="_blank">
            <h3>Button Triggered AJAX Calls</h3>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card w-100 mb-4">
        <img class="card-img-top" src="./assets/img/06-3.png" alt="Card image cap">
        <div class="card-body text-center">
          <a href="https://www.youtube.com/watch?v=UVBmX4cZkHY" target="_blank">
            <h3>Dynamically Create HTML Elements Using jQuery, AJAX, and Button Clicks</h3>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card w-100">
        <img class="card-img-top" src="./assets/img/06-4.png" alt="Card image cap">
        <div class="card-body text-center">
          <a href="https://www.youtube.com/watch?v=PDD8NV3sbZo" target="_blank">
            <h3>NYT Search</h3>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>