<div class="w-100">
    <div class="row p-2 justify-content-center">
      <div class="col-md-4">
        <div class="card w-100 mb-4">
          <img class="card-img-top" src="./assets/img/18-1.png" alt="Card image cap">
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=VFv8J8WbvZM" target="_blank">
              <h3>Connect Mongo Data to the Front End</h3>
            </a>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="card w-100 mb-4">
          <img class="card-img-top" src="./assets/img/18-2.png" alt="Card image cap">
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=7dTBxMlEVgc" target="_blank">
              <h3>Learn How to Scrape Data From Any Website into Your Mongo Database</h3>
            </a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card w-100">
          <img class="card-img-top" src="./assets/img/18-3.png" alt="Card image cap">
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=kI4S4Qw1M5Y" target="_blank">
              <h3>Create Custom Methods in the Mongoose ORM</h3>
            </a>
          </div>
        </div>
      </div>
  
    </div>
  </div>