<div class="w-100">
  <div class="row p-2 justify-content-center">
    <div class="col-md-4">
      <div class="card w-100 mb-4">
        <img class="card-img-top" src="./assets/img/07-1.png" alt="Card image cap">
        <div class="card-body text-center">
          <a href="https://www.youtube.com/watch?v=0PHeP5bLqYE" target="_blank">
            <h3>Firebase Basics</h3>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card w-100 mb-4">
        <img class="card-img-top" src="./assets/img/07-2.png" alt="Card image cap">
        <div class="card-body text-center">
          <a href="https://www.youtube.com/watch?v=ZWH19t4ujRA" target="_blank">
            <h3>Set and Push Methods</h3>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card w-100 mb-4">
        <img class="card-img-top" src="./assets/img/07-3.png" alt="Card image cap">
        <div class="card-body text-center">
          <a href="https://www.youtube.com/watch?v=jpSjBZKnrN4" target="_blank">
            <h3>Simple eBay-like Web Application</h3>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>