<div class="w-100">
    <div class="row p-2 justify-content-center">
      
      <div class="col-md-4">
        <div class="card w-100 mb-4">
          <img class="card-img-top" src="./assets/img/14-1.png" alt="Card image cap">
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=cMAIbAJcvZo" target="_blank">
              <h3>Simple Express App Using Handlebars</h3>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card w-100 mb-4">
          <img class="card-img-top" src="./assets/img/14-2.png" alt="Card image cap">
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=qwUbsg95TbI" target="_blank">
              <h3>App Using Handlebars, MySQL, Express</h3>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card w-100 mb-4">
          <img class="card-img-top" src="./assets/img/14-3.png" alt="Card image cap">
          <div class="card-body text-center">
            <a href="https://www.youtube.com/watch?v=ZooUVmp_t4s" target="_blank">
              <h3>ORM and Handlebars Partial Basics</h3>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>